.SelectAttributes {
  height: 50%;
}
.SelectAttributes .item {
  width: 100%;
  border: 1px solid #20b2aa;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  text-align: left;
}
.SelectAttributes .item .centent {
  padding: 10px 10px;
  background-color: #20b2aa;
}
.SelectAttributes .item .centent .severalItems {
  float: right;
}
.SelectAttributes .item .config {
  padding: 10px 10px;
}
.SelectAttributes .item .wrap {
  max-height: 650px;
  transition: 0.3s;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 1;
  position: relative;
  width: 100%;
  overflow: auto;
}
.SelectAttributes .item .wrap .configlist {
  width: 98%;
  margin: 0;
}
.SelectAttributes .item .wrap .configlist .slide {
  text-align: center;
  margin-bottom: 30px;
}
.SelectAttributes .item .wrap .configlist .slide div {
  border-radius: 10px;
  border: 1px solid #000;
}
.SelectAttributes .item .wrap .configlist .slide div p {
  margin: 0;
  padding: 10px;
}
.SelectAttributes .item .wrap .configlist .slide div p span {
  font-size: 30px;
}
.SelectAttributes .item .wrap .configlist .slide div p .price {
  color: red;
  font-weight: 600;
}
.SelectAttributes .item .wrap .configlist .slide div p .number {
  display: inline-block;
  margin: 0px 10px;
  font-size: 40px;
}
.SelectAttributes .item .wrap .configlist .slide div p i {
  font-size: 40px;
}
.SelectAttributes .item .wrap .configlist .slide img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.SelectAttributes .item .icon {
  position: absolute;
  right: 0px;
  bottom: 40%;
  font-size: 50px;
  animation: translateIcon 1s infinite;
  font-weight: 700;
  transform: rotate(90deg);
}
.SelectAttributes .item .isShow {
  display: none;
}
.SelectAttributes .item .close {
  height: 0px;
  opacity: 0;
  padding: 0;
  margin-bottom: 0px;
}
.SelectAttributes .active {
  border: 1px solid #ffd700;
}
.SelectAttributes .active .centent {
  background-color: #ffd700;
}
@keyframes translateIcon {
  0% {
    transform: rotate(90deg) translateX(0px);
  }
  50% {
    transform: rotate(90deg) translateX(20px);
  }
  100% {
    transform: rotate(90deg) translateX(0px);
  }
}
